# Part 1: Prepare & Cleaning Data

### V1: contain only mass_shooting data of 2016 & 2017 (several months)
### V2: contain mass_shootng & Home_invasion data of 2017 (several months)

In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 12)

In [2]:
#read each csv file with pd
Mass_df1 = pd.read_csv(os.path.join('Mass1.csv'))
Mass_df2 = pd.read_csv(os.path.join('Mass2.csv'))
Mass_df3 = pd.read_csv(os.path.join('Mass3.csv'))
Mass_df4 = pd.read_csv(os.path.join('Mass4.csv'))
Mass_df5 = pd.read_csv(os.path.join('Mass5.csv'))
Mass_df6 = pd.read_csv(os.path.join('Mass6.csv'))
Mass_df7 = pd.read_csv(os.path.join('Mass7.csv'))
Mass_df8 = pd.read_csv(os.path.join('Mass7.csv'))
Mass_df9 = pd.read_csv(os.path.join('Mass7.csv'))
Home_df1 = pd.read_csv(os.path.join('HomeInvasion1.csv'))
Home_df2 = pd.read_csv(os.path.join('HomeInvasion2.csv'))
Home_df3 = pd.read_csv(os.path.join('HomeInvasion3.csv'))
Home_df4 = pd.read_csv(os.path.join('HomeInvasion4.csv'))
Home_df5 = pd.read_csv(os.path.join('HomeInvasion5.csv'))

In [21]:
Mass_List = [Mass_df1, Mass_df2, Mass_df3,Mass_df4,Mass_df5,Mass_df6,Mass_df7,Mass_df8,Mass_df9]
Mass_df = pd.concat(Mass_List)

Home_List = [Home_df1,Home_df2,Home_df3]
Home_df = pd.concat(Home_List)

In [22]:
type(Mass_df)

pandas.core.frame.DataFrame

In [23]:
Mass_df['Incident'] = 'Mass_Shooting'

In [25]:
Home_df['Incident'] = 'Home_Invasion'

In [29]:
Mass_Home = [Mass_df,Home_df]
Mass_Home_df = pd.concat(Mass_Home)
Mass_Home_df

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Incident
0,"August 8, 2017",Illinois,Chicago,1 block of East 37th Street,1,6,NaN,Mass_Shooting
1,"August 6, 2017",New York,Bronx,Wickham Ave,0,6,NaN,Mass_Shooting
2,"August 6, 2017",New York,Bronx,Unionport Rd,0,4,NaN,Mass_Shooting
3,"August 6, 2017",California,Oakland,1000 block of 106th Avenue,0,7,NaN,Mass_Shooting
4,"August 5, 2017",New Jersey,Lakewood,900 block of Brook Road,0,4,NaN,Mass_Shooting
5,"August 5, 2017",South Carolina,Allendale,300 block of Ellis St,1,3,NaN,Mass_Shooting
6,"August 5, 2017",Florida,Tallahassee,1939 W Tennessee St,1,3,NaN,Mass_Shooting
7,"August 4, 2017",Montana,Lodge Grass,200 block of North Helen Street,3,2,NaN,Mass_Shooting
8,"August 3, 2017",District of Columbia,Washington,3426 18th St NE,1,3,NaN,Mass_Shooting
9,"August 2, 2017",Indiana,South Bend,2122 Frederickson St,2,2,NaN,Mass_Shooting
...,...,...,...,...,...,...,...,...
490,"May 26, 2017",Kansas,Salina,2200 block of Wesley St,0,0,NaN,Home_Invasion
491,"May 25, 2017",Florida,Pompano Beach (North Lauderdale),San Remo Blvd,0,0,NaN,Home_Invasion
492,"May 25, 2017",Alabama,Mobile,750 Flave Pierce Rd,0,1,NaN,Home_Invasion
493,"May 25, 2017",Louisiana,Bossier City,1100 block of Peach St,1,1,NaN,Home_Invasion
494,"May 25, 2017",Georgia,Lagrange,1300 block of Bridgewood Drive,0,1,NaN,Home_Invasion
495,"May 25, 2017",West Virginia,Coal City,Abney Rd,0,1,NaN,Home_Invasion
496,"May 25, 2017",Florida,Seminole,Park Boulevard,0,0,NaN,Home_Invasion
497,"May 25, 2017",Nebraska,Lincoln,2300 block of Washington St,0,0,NaN,Home_Invasion
498,"May 25, 2017",Maryland,Baltimore,1500 block of Battery Ave,0,0,NaN,Home_Invasion
499,"May 25, 2017",Illinois,Chicago,6500 Block of S Laflin,1,0,NaN,Home_Invasion

In [27]:
Law_df = pd.read_csv(os.path.join('Gun_Law.csv'))
Campus_df = pd.read_csv(os.path.join('Gun_On_Campus.csv'))

In [28]:
Law_And_Campus_df = pd.merge(Law_df, Campus_df, on="State")
Law_And_Campus_df

,State,Unrestricted,Shall-issue,May-issue,No-issue,Non-Resident Permits Available,Permit Reciprocity[26],Campus_Carried
0,Alabama,NaN,Yes,NaN,NaN,No,Yes,Depend
1,Alaska,Yes,Yes,NaN,NaN,No,Yes,Depend
2,Arizona,Yes,Yes,NaN,NaN,Yes,Yes,Depend
3,Arkansas,NaN,Yes,NaN,NaN,No,Yes,Yes
4,California,NaN,NaN,Yes,NaN,No,No,No
5,Colorado,NaN,Yes,NaN,NaN,No,Yes,Yes
6,Connecticut,NaN,NaN,Yes,NaN,Yes,No,Depend
7,Delaware,NaN,NaN,Yes,NaN,Yes,Yes,Depend
8,District of Columbia,NaN,NaN,Yes,NaN,Yes,No,Depend
9,Florida,NaN,Yes,NaN,NaN,Yes,Yes,Limited
...,...,...,...,...,...,...,...,...
40,South Carolina,NaN,Yes,NaN,NaN,Yes,Yes,Limited
41,South Dakota,NaN,Yes,NaN,NaN,No,Yes,Depend
42,Tennessee,NaN,Yes,NaN,NaN,Yes,Yes,Yes
43,Texas,NaN,Yes,NaN,NaN,Yes,Yes,Yes
44,Utah,NaN,Yes,NaN,NaN,Yes,Yes,Yes
45,Vermont,Yes,NaN,NaN,NaN,No,NaN,Depend
46,Virginia,NaN,Yes,NaN,NaN,Yes,Yes,Depend
47,Washington,NaN,Yes,NaN,NaN,Yes,Yes,Depend
48,West Virginia,Yes,Yes,NaN,NaN,No,Yes,Depend
49,Wisconsin,NaN,Yes,NaN,NaN,No,Yes,No

In [30]:
df = pd.merge(Mass_Home_df, Law_And_Campus_df, on="State")
df

,Incident Date,State,City Or County,Address,# Killed,# Injured,...,Shall-issue,May-issue,No-issue,Non-Resident Permits Available,Permit Reciprocity[26],Campus_Carried
0,"August 8, 2017",Illinois,Chicago,1 block of East 37th Street,1,6,...,Yes,NaN,NaN,Yes,Yes,No
1,"August 1, 2017",Illinois,Chicago,800 block of N Monticello Ave,0,4,...,Yes,NaN,NaN,Yes,Yes,No
2,"July 31, 2017",Illinois,Decatur,Jasper St and Main St,0,4,...,Yes,NaN,NaN,Yes,Yes,No
3,"July 27, 2017",Illinois,Chicago,2000 block of E 71st St,1,4,...,Yes,NaN,NaN,Yes,Yes,No
4,"July 23, 2017",Illinois,Chicago,1500 block of East 82nd St,1,3,...,Yes,NaN,NaN,Yes,Yes,No
5,"July 15, 2017",Illinois,Chicago,12200 block of S Throop St,0,4,...,Yes,NaN,NaN,Yes,Yes,No
6,"July 8, 2017",Illinois,Alton,700 block of Oakwood,0,4,...,Yes,NaN,NaN,Yes,Yes,No
7,"July 5, 2017",Illinois,Chicago (Roseland),11000 block of S Eberhart,2,2,...,Yes,NaN,NaN,Yes,Yes,No
8,"July 1, 2017",Illinois,Momence,2727 S 13000 Rd E,0,4,...,Yes,NaN,NaN,Yes,Yes,No
9,"June 27, 2017",Illinois,Chicago,200 block of S Lotus,0,5,...,Yes,NaN,NaN,Yes,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3515,"June 6, 2017",Hawaii,Kaneohe,Waikalualoko St,0,0,...,NaN,Yes,NaN,No,No,Depend
3516,"June 19, 2017",Hawaii,Mountain View,N Glenwood Rd,0,0,...,NaN,Yes,NaN,No,No,Depend
3517,"June 11, 2017",Hawaii,Haliimaile,NaN,0,1,...,NaN,Yes,NaN,No,No,Depend
3518,"June 6, 2017",Hawaii,Kaneohe,Waikalualoko St,0,0,...,NaN,Yes,NaN,No,No,Depend
3519,"June 14, 2017",South Dakota,Sioux Falls,12th St and Charlotte Ave,0,0,...,Yes,NaN,NaN,No,Yes,Depend
3520,"June 14, 2017",South Dakota,Sioux Falls,12th St and Charlotte Ave,0,0,...,Yes,NaN,NaN,No,Yes,Depend
3521,"June 14, 2017",South Dakota,Sioux Falls,12th St and Charlotte Ave,0,0,...,Yes,NaN,NaN,No,Yes,Depend
3522,"May 31, 2017",Nevada,Las Vegas,300 block of E Silverado Ranch Blvd,0,0,...,Yes,NaN,NaN,Yes,Yes,Depend
3523,"May 31, 2017",Nevada,Las Vegas,300 block of E Silverado Ranch Blvd,0,0,...,Yes,NaN,NaN,Yes,Yes,Depend
3524,"May 31, 2017",Nevada,Las Vegas,300 block of E Silverado Ranch Blvd,0,0,...,Yes,NaN,NaN,Yes,Yes,Depend

# Part 2: EDA

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

from sklearn import preprocessing, neighbors, model_selection, feature_selection, linear_model
from sklearn import metrics
from IPython.display import Image
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report, roc_auc_score, roc_curve
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.datasets import make_classification
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
import seaborn as sns
import math

## Feature Engineering

In [31]:
df['Year'] = pd.DatetimeIndex(df['Incident Date']).year
df['Month'] = pd.DatetimeIndex(df['Incident Date']).month

In [32]:
#Clean up data by removing unnessary column
del df['Incident Date']
del df['Operations']
del df['Address']
df

,State,City Or County,# Killed,# Injured,Incident,Unrestricted,...,No-issue,Non-Resident Permits Available,Permit Reciprocity[26],Campus_Carried,Year,Month
0,Illinois,Chicago,1,6,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,8
1,Illinois,Chicago,0,4,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,8
2,Illinois,Decatur,0,4,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,7
3,Illinois,Chicago,1,4,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,7
4,Illinois,Chicago,1,3,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,7
5,Illinois,Chicago,0,4,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,7
6,Illinois,Alton,0,4,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,7
7,Illinois,Chicago (Roseland),2,2,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,7
8,Illinois,Momence,0,4,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,7
9,Illinois,Chicago,0,5,Mass_Shooting,NaN,...,NaN,Yes,Yes,No,2017,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3515,Hawaii,Kaneohe,0,0,Home_Invasion,NaN,...,NaN,No,No,Depend,2017,6
3516,Hawaii,Mountain View,0,0,Home_Invasion,NaN,...,NaN,No,No,Depend,2017,6
3517,Hawaii,Haliimaile,0,1,Home_Invasion,NaN,...,NaN,No,No,Depend,2017,6
3518,Hawaii,Kaneohe,0,0,Home_Invasion,NaN,...,NaN,No,No,Depend,2017,6
3519,South Dakota,Sioux Falls,0,0,Home_Invasion,NaN,...,NaN,No,Yes,Depend,2017,6
3520,South Dakota,Sioux Falls,0,0,Home_Invasion,NaN,...,NaN,No,Yes,Depend,2017,6
3521,South Dakota,Sioux Falls,0,0,Home_Invasion,NaN,...,NaN,No,Yes,Depend,2017,6
3522,Nevada,Las Vegas,0,0,Home_Invasion,NaN,...,NaN,Yes,Yes,Depend,2017,5
3523,Nevada,Las Vegas,0,0,Home_Invasion,NaN,...,NaN,Yes,Yes,Depend,2017,5
3524,Nevada,Las Vegas,0,0,Home_Invasion,NaN,...,NaN,Yes,Yes,Depend,2017,5

In [33]:
del df['City Or County']

In [34]:
df = df.rename(index=str, columns={"# Killed": "Number_Killed", "# Injured": "Number_Injured","Permit Reciprocity[26]": "Permit Reciprocity"})

In [35]:
df[df.State == 'Oregon'].count()

State                              6
Number_Killed                      6
Number_Injured                     6
Incident                           6
Unrestricted                       0
Shall-issue                        6
May-issue                          0
No-issue                           0
Non-Resident\nPermits Available    6
Permit Reciprocity                 6
Campus_Carried                     6
Year                               6
Month                              6
dtype: int64

In [36]:
df.groupby([df['State'],df['Year']]).sum()

                           Number_Killed  Number_Injured  Month
State                Year
Alabama              2017             54             225    624
Arizona              2017             24              84    306
Arkansas             2017             24             327    261
California           2017            183             840   1527
Colorado             2017             27              12     42
Connecticut          2017              0               0     21
Delaware             2017              0              39     99
District of Columbia 2017             18             198    234
Florida              2017            210             771   1542
Georgia              2017             93             273    600
...                                  ...             ...    ...
South Carolina       2017             48             243    651
South Dakota         2017              0               0     18
Tennessee            2017             33             318    525
Texas                2017            195             492   1071
Utah                 2017             27              21     87
Vermont              2017              0               3     60
Virginia             2017             48             375    567
Washington           2017              3              63    219
West Virginia        2017              3              15    180
Wisconsin            2017             48              45    210

[46 rows x 3 columns]

In [37]:
pd.crosstab(df["Number_Killed"], 
                    [df["Permit Reciprocity"],df["Campus_Carried"]])

Permit Reciprocity     No         Yes
Campus_Carried     Depend   No Depend Limited   No  Yes
Number_Killed
0                      78  360    429     405  483  312
1                      33  120    192     156  252  129
2                       9   48     30      42   75   63
3                       0   12     54      18   45   45
4                       0    9      9       9   36    9
5                       0    0      0       9   18    9
6                       0    0      0       9    0    0
8                       0    0      0       0    9    0

In [39]:
pd.crosstab(df["Number_Injured"], 
                    [df["Permit Reciprocity"],df["Campus_Carried"]])

Permit Reciprocity     No         Yes
Campus_Carried     Depend   No Depend Limited   No  Yes
Number_Injured
0                      27  120    204     201  252  141
1                      12   72    168     144  138  132
2                       9   51     60      30   75   39
3                      18   72     63      66   90   66
4                      45  135    120     108  207  126
5                       0   54     36      54   72    9
6                       0   27     36      18   36   27
7                       9   18      9      18    0    9
8                       0    0      0       9   21    0
9                       0    0      0       0   18    0
10                      0    0      9       0    0    9
12                      0    0      9       0    0    0
15                      0    0      0       0    9    0
25                      0    0      0       0    0    9

In [42]:
pd.crosstab(df["Incident"], 
                    [df["Permit Reciprocity"],df["Campus_Carried"]])

Permit Reciprocity     No         Yes
Campus_Carried     Depend   No Depend Limited   No  Yes
Incident
Home_Invasion          39  198    354     333  324  243
Mass_Shooting          81  351    360     315  594  324

In [46]:
pd.crosstab(df["Number_Killed"], 
                    [df["Incident"],df["Permit Reciprocity"]])

Incident           Home_Invasion      Mass_Shooting
Permit Reciprocity            No  Yes            No  Yes
Number_Killed
0                            213  963           225  666
1                             18  261           135  468
2                              3   30            54  180
3                              3    0             9  162
4                              0    0             9   63
5                              0    0             0   36
6                              0    0             0    9
8                              0    0             0    9

In [47]:
pd.crosstab(df["Number_Killed"], 
                    [df["Incident"],df["Campus_Carried"]])

Incident       Home_Invasion                   Mass_Shooting
Campus_Carried        Depend Limited   No  Yes        Depend Limited   No  Yes
Number_Killed
0                        309     270  420  186           207     135  423  126
1                         81      57   93   48           144      99  279   81
2                         12       6    6    9            27      36  117   54
3                          0       0    3    0            54      18   54   45
4                          0       0    0    0             9       9   45    9
5                          0       0    0    0             0       9   18    9
6                          0       0    0    0             0       9    0    0
8                          0       0    0    0             0       0    9    0